<mat-toolbar class="header px-2 gap-2" color="primary">
  <button matButton [matMenuTriggerFor]="menuVersao">{{ bibliaService.versao() }}</button>
  <mat-menu #menuVersao="matMenu">
    @for (versao of bibliaService.versoes; track $index) {
      <button mat-menu-item (click)="bibliaService.selecionarVersao(versao)">
        {{ versao }}
      </button>
    }
  </mat-menu>

  <button class="flex-fill text-center" matButton [matMenuTriggerFor]="menuLivro">
    {{ bibliaService.livro().name.toUpperCase() }}
  </button>
  <mat-menu #menuLivro="matMenu">
    @for (livro of bibliaService.biblia().livros; track $index) {
      <button mat-menu-item (click)="bibliaService.selecionarLivro($index)">
        {{ livro.name.toUpperCase() }}
      </button>
    }
  </mat-menu>

  <button matButton [matMenuTriggerFor]="menuCapitulo">{{ bibliaService.capituloId() + 1 }}</button>
  <mat-menu #menuCapitulo="matMenu">
    @for (capitulo of bibliaService.livro().chapters; track $index) {
      <button mat-menu-item (click)="bibliaService.selecionarCapitulo($index)">
        {{ $index + 1 }}
      </button>
    }
  </mat-menu>
</mat-toolbar>
