/* You can add global styles to this file, and also import other style files */

:root {
  --font-size-base: 16px;
  --header-height: 48px;
  --footer-height: 56px;
}

p {
  font-size: var(--font-size-base);
}

/* Garantir que o conteúdo principal não fique oculto sob o header e o footer fixos */
mat-sidenav-content {
  padding-top: var(--header-height) !important;
  padding-bottom: var(--footer-height) !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  border: none;
  z-index: 1000;
}

mat-toolbar.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  z-index: 1000;
}

:host {
  display: block;
  margin-top: 0;
}

.font-large {
  font-size: large;
}
